<html>
    <head>
        <title>Ansible</title>
    </head>
    
    <body bgcolor="black">
        <center>
            <br><br>
            <img src="https://miro.medium.com/max/676/0*T9JXrzvgkarnadER.png" />
            <br>
            <h1><b><p style="color: gold;">I  AM  {{ inventory_hostname }}</p></b></h1>
            <h1><b><p style="color: gold;">ARTH Task</p></b></h1>
            <h1><p style="color: ivory;">Created a LoadBalancer and Dynamically Register WebServer IPs to it using Ansible Playbook</p></h1>
        </center>
    </body>
</html>